.hidden {
    display: none;
}

.fade-out {
    animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.remove-item-x {
    color: rgb(117, 117, 117);
    line-height: inherit!important;
}

.remove-item-x:hover {
    color: rgb(124, 50, 50);
    cursor: pointer;
}

.edit-item {
    color: rgb(117, 117, 117);
    padding-left: 1rem;
    line-height: inherit!important;
}

.edit-item:hover {
    color: rgb(68, 78, 122);
    cursor: pointer;
}

.edit-item-input {
    width: 97%;
    display: inline-block;
}

@media only screen and (max-width: 992px) {
    .edit-item-input {
        width: 94%;
    }

    body .save-item {
        right: 3%;
    }
}

@media only screen and (max-width: 768px) {
    body .save-item {
        right: 4%;
    }
}

@media only screen and (max-width: 450px) {
    .edit-item-input {
        width: 90%;
    }

    body .save-item {
        right: 5.5%;
    }
}

@media only screen and (max-width: 375px) {
    body .save-item {
        right: 6.5%;
    }
}

.save-item {
    color: rgb(117, 117, 117);
    line-height: 2.3!important;
    position: absolute;
    top: 7%;
    right: 1.9%;
}

.save-item:hover {
    color: rgb(53, 109, 51);
    cursor: pointer;
}

.margin-override {
    margin: auto;
}